.cart-notification__free-shipping-area {
     display: none;
 }

 .cart-notification__product-badge {
     margin-top: 0;
 }

 .cart-page {
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
     max-width: 680px;
 }

 @media only screen and (min-width: 768px) {
     .cart-page {
         padding-left: 30px;
         padding-right: 30px;
     }
 }

 @media only screen and (min-width: 990px) {
     .cart-page {
         padding-left: 35px;
         padding-right: 35px;
     }
 }

 @media only screen and (min-width: 768px) {
     .cart-page {
         max-width: 710px;
     }
 }

 @media only screen and (min-width: 990px) {
     .cart-page {
         max-width: 720px;
     }
 }

 @media only screen and (min-width: 768px) {
     .cart-page {
         max-width: 1280px;
     }
 }

 .cart-page__header {
     align-items: center;
     display: flex;
     justify-content: center;
     position: relative;
 }

 @media only screen and (max-width: 767px) {
     .cart-page__header {
         margin-bottom: 25px;
         text-align: center;
     }

     .cart-page__header-title {
         display: none;
     }
 }

 @media only screen and (min-width: 768px) {
     .cart-page__header .header__continue-shopping {
         left: 0;
         position: absolute;
     }
 }

 .cart-page__header-title {
     color: #000;
     font: 600 28px/28px proxima-nova, Arial, sans-serif;
     letter-spacing: 0.3px;
     text-transform: uppercase;
     text-align: center;
 }

 @media only screen and (min-width: 768px) {
     .cart-page__header-title {
         font: 600 35px/35px proxima-nova, Arial, sans-serif;
     }
 }

 .cart-page__continue-separator {
     background: url('data:image/svg+xml;charset=utf-8,<svg width="5" height="7" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path d="M4 6L1 3.5 4 1"/></svg>');
     display: inline-block;
     height: 7px;
     margin-right: 5px;
     width: 5px;
 }

 .cart-page__continue {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     font-weight: 600;
     margin: 0;
     padding: 0;
 }

 .cart-page__continue:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .cart-page__continue:hover {
     color: #53585f;
 }

 .cart-page__shipping-messaging {
     margin-bottom: 65px;
     margin-top: 22px;
 }

 @media only screen and (max-width: 989px) {
     .cart-page__shipping-messaging {
         margin-bottom: 25px;
     }
 }

 .cart-page__container {
     display: block;
     flex-wrap: wrap;
 }

 .cart-page__container:after {
     clear: both;
     content: "";
     display: table;
 }

 .cart-page__container.hide {
     display: none;
 }

 .cart-page__content,
 .cart-page__nosto,
 .cart-page__wishlist {
     float: left;
     width: 100%;
 }

 @media only screen and (max-width: 767px) {

     .cart-page__content .nosto-wrapper,
     .cart-page__nosto .nosto-wrapper,
     .cart-page__wishlist .nosto-wrapper {
         max-width: 990px;
     }
 }

 @media only screen and (min-width: 990px) {

     .cart-page__content,
     .cart-page__nosto,
     .cart-page__wishlist {
         padding-right: 30px;
         width: 60%;
     }

     .cart-page__content .product-tile-carousel,
     .cart-page__nosto .product-tile-carousel,
     .cart-page__wishlist .product-tile-carousel {
         max-width: 95%;
     }
 }

 .cart-page__wishlist {
     margin-bottom: 20px;
 }

 .cart-page__wishlist .product-carousel-section__header {
     align-items: center;
     display: inline-flex;
 }

 .cart-page__wishlist .product-carousel-section__link-fav-header {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     font-weight: 600;
     padding: 0;
     margin: 0 0 0 20px;
 }

 .cart-page__wishlist .product-carousel-section__link-fav-header:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .cart-page__wishlist .product-carousel-section__link-fav-header:hover {
     color: #53585f;
 }

 .cart-page__recommendations {
     flex: 0 1 50%;
 }

 @media only screen and (max-width: 989px) {
     .cart-page__recommendations {
         flex: 1 1 100%;
     }
 }

 .cart-page__summary {
     flex-wrap: wrap;
     float: left;
     width: 40%;
 }

 @media only screen and (min-width: 990px) {
     .cart-page__summary {
         position: -webkit-sticky;
         position: sticky;
         top: 118px;
     }
 }

 @media only screen and (max-width: 989px) {
     .cart-page__summary {
         display: flex;
         width: 100%;
     }
 }

 .cart-page__discounts {
     position: relative;
     background-color: #f3f3f3;
     display: flex;
     flex-wrap: wrap;
     margin-bottom: 2px;
     padding: 20px;
     width: 100%;
 }

 .cart-page__discounts--error .cart-page__discounts__input {
     border: 1px solid #ec130e;
 }

 .cart-page__discounts__input {
     border: 1px solid #949494;
     box-shadow: inset 0 0 0 1000px #fff;
     height: 45px;
     padding: 20px 20px 5px;
     width: 100%;
 }

 .cart-page__discounts__input,
 .cart-page__discounts__label {
     display: block;
     font: 400 16px/22px proxima-nova, Arial, sans-serif;
 }

 .cart-page__discounts__label {
     border: 1px solid transparent;
     height: 1.5em;
     left: 0;
     line-height: 1.5;
     overflow: hidden;
     pointer-events: none;
     position: absolute;
     text-overflow: ellipsis;
     top: 10px;
     transition: transform 0.2s, font-size 0.2s;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     white-space: nowrap;
     z-index: 1;
 }

 .cart-page__discounts__input:not(:-moz-placeholder-shown)+.cart-page__discounts__label {
     font-size: 12px;
     transform: translateY(-8px);
 }

 .cart-page__discounts__input:not(:-ms-input-placeholder)+.cart-page__discounts__label {
     font-size: 12px;
     transform: translateY(-8px);
 }

 .cart-page__discounts__input:focus+.cart-page__discounts__label,
 .cart-page__discounts__input:not(:placeholder-shown)+.cart-page__discounts__label {
     font-size: 12px;
     transform: translateY(-8px);
 }

 @media only screen and (min-width: 768px) and (max-width: 989px) {
     .cart-page__discounts {
         align-self: flex-start;
         margin-right: 20px;
         width: 50%;
     }
 }

 @media only screen and (max-width: 767px) {
     .cart-page__discounts {
         width: 100%;
     }
 }

 .cart-page__discounts--error input:focus {
     outline: #ec130e;
 }

 .cart-page__discounts__input {
     border-color: #888;
     flex: 1 1 40%;
     min-width: 1px;
 }

 .cart-page__discounts__label {
     left: 20px;
     padding: 0 20px;
     top: 30px;
 }

 .cart-page__discounts__label--disabled {
     top: 35px;
     font-size: 10px;
 }

 .cart-page__discounts__apply {
     align-items: center;
     border-radius: 0;
     cursor: pointer;
     display: inline-flex;
     font: 400 12px/14px proxima-nova, Arial, sans-serif;
     height: 40px;
     justify-content: center;
     letter-spacing: 1px;
     min-width: 150px;
     opacity: 1;
     padding-left: 45px;
     padding-right: 45px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     transition: background-color 0.3s ease, color 0.3s ease;
     background-color: #000;
     border: 1px solid #000;
     color: #fff;
     flex: 0 1 auto;
     height: 45px;
     margin-left: 10px;
     min-width: 120px;
 }

 @media only screen and (min-width: 768px) {
     .cart-page__discounts__apply {
         font: 400 14px/14px proxima-nova, Arial, sans-serif;
         height: 45px;
     }
 }

 .cart-page__discounts__apply:focus {
     outline: 2px solid #e04c39;
 }

 .cart-page__discounts__apply:disabled {
     cursor: not-allowed;
 }

 .cart-page__discounts__apply:hover:not(:disabled) {
     background-color: transparent;
     color: #000;
 }

 .cart-page__discounts__apply:disabled {
     background: rgba(0, 0, 0, 0.05);
     border-color: transparent;
     color: #000;
 }

 .cart-page__discounts__apply:active {
     background: rgba(0, 0, 0, 0.05);
     color: #000;
 }

 .cart-page__discounts__apply.button--loading {
     background-color: transparent;
     border: 1px solid #000;
 }

 @media only screen and (max-width: 767px) {
     .cart-page__discounts__apply {
         padding-left: 23px;
         padding-right: 23px;
     }
 }

 .cart-page__discounts__code {
     align-items: center;
     display: flex;
     flex: 1 1 100%;
     font-size: 12px;
     font-weight: 600;
 }

 .cart-page__discounts__code .code-copy {
     display: inline-block;
     font-size: 16px;
     margin-left: auto;
     margin-top: 10px;
 }

 .cart-page__discounts__code .code-applied {
     background-color: #fff;
     border-radius: 20px;
     color: #53585f;
     display: inline-block;
     font: 700 12px/20px proxima-nova, Arial, sans-serif;
     letter-spacing: 1px;
     margin-top: 10px;
     padding: 7.5px 6px 7.5px 15px;
     text-transform: uppercase;
 }

 .cart-page__discounts__code .code-applied svg {
     vertical-align: middle;
 }

 .cart-page__discounts__code .discount-code__remove {
     border-radius: 15px;
     color: #000;
     cursor: pointer;
     margin-left: 6px;
     padding: 7px 9px;
 }

 .cart-page__discounts__code .discount-code__remove:hover {
     background-color: #f3f3f3;
 }

 .cart-page__discounts__code .code-error {
     color: #ec130e;
     margin-top: 10px;
 }

 .cart-page__checkout,
 .cart-page__mobile-checkout {
     background-color: #f3f3f3;
     color: #000;
     font-weight: 600;
     margin-bottom: 25px;
     padding: 20px;
     text-align: right;
 }

 @media only screen and (max-width: 989px) {

     .cart-page__checkout,
     .cart-page__mobile-checkout {
         flex: 1 1 40%;
     }
 }

 .cart-page__checkout .cart-level__discounts,
 .cart-page__checkout .cart-level__subtotal,
 .cart-page__mobile-checkout .cart-level__discounts,
 .cart-page__mobile-checkout .cart-level__subtotal {
     display: flex;
 }

 .cart-page__checkout .cart-level__discounts-heading,
 .cart-page__checkout .cart-level__subtotal-heading,
 .cart-page__mobile-checkout .cart-level__discounts-heading,
 .cart-page__mobile-checkout .cart-level__subtotal-heading {
     flex: 1 1 40%;
     text-align: left;
 }

 .cart-page__checkout .cart-level__discounts-heading .checkout-subtotal__item-count,
 .cart-page__checkout .cart-level__subtotal-heading .checkout-subtotal__item-count,
 .cart-page__mobile-checkout .cart-level__discounts-heading .checkout-subtotal__item-count,
 .cart-page__mobile-checkout .cart-level__subtotal-heading .checkout-subtotal__item-count {
     font-weight: 400;
 }

 .cart-page__checkout .cart-level__discounts-info,
 .cart-page__checkout .cart-level__subtotal-info,
 .cart-page__mobile-checkout .cart-level__discounts-info,
 .cart-page__mobile-checkout .cart-level__subtotal-info {
     flex: 1 1 40%;
     text-align: right;
 }

 .cart-page__checkout .cart-level__discounts-info svg,
 .cart-page__checkout .cart-level__subtotal-info svg,
 .cart-page__mobile-checkout .cart-level__discounts-info svg,
 .cart-page__mobile-checkout .cart-level__subtotal-info svg {
     vertical-align: middle;
 }

 .cart-page__checkout .cart-level__discounts,
 .cart-page__mobile-checkout .cart-level__discounts {
     margin-bottom: 15px;
 }

 .cart-page__checkout .cart-level__discounts-heading,
 .cart-page__mobile-checkout .cart-level__discounts-heading {
     color: #000;
 }

 .cart-page__checkout .cart-level__discounts-info,
 .cart-page__mobile-checkout .cart-level__discounts-info {
     color: #53585f;
     font: 700 12px/20px proxima-nova, Arial, sans-serif;
     letter-spacing: 1px;
     text-transform: uppercase;
 }

 .cart-page__checkout .cart-level__discounts.hide,
 .cart-page__mobile-checkout .cart-level__discounts.hide {
     display: none;
 }

 .cart-page__checkout .checkout-subtotal__total,
 .cart-page__mobile-checkout .checkout-subtotal__total {
     font-size: 20px;
     margin-left: 15px;
 }

 .cart-page__checkout .cart__submit,
 .cart-page__mobile-checkout .cart__submit {
     align-items: center;
     border-radius: 0;
     cursor: pointer;
     display: inline-flex;
     font: 400 12px/14px proxima-nova, Arial, sans-serif;
     height: 40px;
     justify-content: center;
     letter-spacing: 1px;
     min-width: 150px;
     opacity: 1;
     padding-left: 45px;
     padding-right: 45px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     transition: background-color 0.3s ease, color 0.3s ease;
     background-color: #000;
     border: 1px solid #000;
     color: #fff;
     height: 45px;
     margin: 20px 0 10px;
     width: 100%;
 }

 @media only screen and (min-width: 768px) {

     .cart-page__checkout .cart__submit,
     .cart-page__mobile-checkout .cart__submit {
         font: 400 14px/14px proxima-nova, Arial, sans-serif;
         height: 45px;
     }
 }

 .cart-page__checkout .cart__submit:focus,
 .cart-page__mobile-checkout .cart__submit:focus {
     outline: 2px solid #e04c39;
 }

 .cart-page__checkout .cart__submit:disabled,
 .cart-page__mobile-checkout .cart__submit:disabled {
     cursor: not-allowed;
 }

 .cart-page__checkout .cart__submit:hover:not(:disabled),
 .cart-page__mobile-checkout .cart__submit:hover:not(:disabled) {
     background-color: transparent;
     color: #000;
 }

 .cart-page__checkout .cart__submit:disabled,
 .cart-page__mobile-checkout .cart__submit:disabled {
     background: rgba(0, 0, 0, 0.05);
     border-color: transparent;
     color: #000;
 }

 .cart-page__checkout .cart__submit:active,
 .cart-page__mobile-checkout .cart__submit:active {
     background: rgba(0, 0, 0, 0.05);
     color: #000;
 }

 @media only screen and (max-width: 767px) {

     .cart-page__checkout .cart__submit,
     .cart-page__mobile-checkout .cart__submit {
         height: 40px;
     }
 }

 .cart-page__checkout .checkout-subtotal__pre-discount,
 .cart-page__mobile-checkout .checkout-subtotal__pre-discount {
     position: relative;
     text-decoration: none;
     white-space: nowrap;
 }

 .cart-page__checkout .checkout-subtotal__pre-discount:before,
 .cart-page__mobile-checkout .checkout-subtotal__pre-discount:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: 50%;
     width: 100%;
 }

 .cart-page__checkout [data-shopify-buttoncontainer],
 .cart-page__mobile-checkout [data-shopify-buttoncontainer] {
     justify-content: flex-end;
     width: auto;
 }

 @media only screen and (max-width: 767px) {

     .cart-page__checkout [data-shopify-buttoncontainer],
     .cart-page__mobile-checkout [data-shopify-buttoncontainer] {
         flex-direction: row !important;
     }
 }

 .cart-page__checkout [data-shopify-buttoncontainer]>div,
 .cart-page__mobile-checkout [data-shopify-buttoncontainer]>div {
     flex: 1 0 40% !important;
 }

 .cart-page__checkout [data-shopify-buttoncontainer]>div:nth-child(2n),
 .cart-page__mobile-checkout [data-shopify-buttoncontainer]>div:nth-child(2n) {
     padding-left: 0;
 }

 .cart-page__checkout [data-shopify-buttoncontainer]>div>div,
 .cart-page__mobile-checkout [data-shopify-buttoncontainer]>div>div {
     border-radius: 0 !important;
 }

 .cart-page__mobile-checkout {
     margin-bottom: 20px;
 }

 @media only screen and (min-width: 768px) {
     .cart-page__mobile-checkout {
         display: none;
     }
 }

 .cart-page__recently-viewed {
     margin-bottom: 20px;
 }

 .cart-page__empty-content {
     margin-bottom: 65px;
     text-align: center;
 }

 .cart-page__empty-content .empty-content__title {
     color: #000;
     font: 600 18px/22px proxima-nova, Arial, sans-serif;
     letter-spacing: 0.3px;
     text-transform: uppercase;
     text-transform: none;
 }

 @media only screen and (min-width: 768px) {
     .cart-page__empty-content .empty-content__title {
         font: 600 24px/28px proxima-nova, Arial, sans-serif;
     }
 }

 .cart-page__empty-content .empty-content__continue {
     align-items: center;
     border-radius: 0;
     cursor: pointer;
     display: inline-flex;
     font: 400 12px/14px proxima-nova, Arial, sans-serif;
     height: 40px;
     justify-content: center;
     letter-spacing: 1px;
     min-width: 150px;
     opacity: 1;
     padding-left: 45px;
     padding-right: 45px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     transition: background-color 0.3s ease, color 0.3s ease;
     background-color: #000;
     border: 1px solid #000;
     color: #fff;
     margin: 20px 0;
 }

 @media only screen and (min-width: 768px) {
     .cart-page__empty-content .empty-content__continue {
         font: 400 14px/14px proxima-nova, Arial, sans-serif;
         height: 45px;
     }
 }

 .cart-page__empty-content .empty-content__continue:focus {
     outline: 2px solid #e04c39;
 }

 .cart-page__empty-content .empty-content__continue:disabled {
     cursor: not-allowed;
 }

 .cart-page__empty-content .empty-content__continue:hover:not(:disabled) {
     background-color: transparent;
     color: #000;
 }

 .cart-page__empty-content .empty-content__continue:disabled {
     background: rgba(0, 0, 0, 0.05);
     border-color: transparent;
     color: #000;
 }

 .cart-page__empty-content .empty-content__continue:active {
     background: rgba(0, 0, 0, 0.05);
     color: #000;
 }

 .cart-page__separator {
     align-items: center;
     color: #53585f;
     display: flex;
     font-size: 14px;
     font-weight: 400;
     margin: 10px auto 20px;
     text-align: center;
 }

 .cart-page__separator:after,
 .cart-page__separator:before {
     border-bottom: 1px solid #d8d8d8;
     content: "";
     flex: 1;
 }

 .cart-page__separator:before {
     margin-right: 10px;
 }

 .cart-page__separator:after {
     margin-left: 10px;
 }

 .cart-page .product-tile-carousel {
     margin: 0 -15px 0 -5px;
 }

 .cart-page .product-tile-carousel .nosto-heading,
 .cart-page .product-tile-carousel .product-carousel-section__title {
     padding-left: 5px;
 }

 .cart-page .product-tile-carousel .glide {
     margin: 0;
 }

 .recently_viewed .product-tile-carousel {
     margin: 0 -5px;
 }

 @media only screen and (min-width: 768px) {
     .recently_viewed .product-tile-carousel .glide {
         margin-left: 60px;
         margin-right: 60px;
     }
 }

 .cart-content__table {
     border-collapse: collapse;
     margin-bottom: 10px;
     width: 100%;
 }

 .cart-content__table tr {
     border-bottom: 1px solid #d8d8d8;
 }

 .cart-content__table-header {
     font: 700 14px/20px proxima-nova-condensed, Arial, sans-serif;
     letter-spacing: 1px;
     margin-bottom: 20px;
     text-align: left;
     text-transform: uppercase;
 }

 .cart-content__table .table-header__info {
     width: 65%;
 }

 .cart-content__table .table-header__quantity {
     text-align: right;
     width: 15%;
 }

 @media only screen and (max-width: 767px) {
     .cart-content__table .table-header__quantity {
         display: none;
     }
 }

 .cart-content__table .table-header__price {
     text-align: right;
     width: 20%;
 }

 .cart-content__item {
     transition: opacity 2s ease-in-out;
 }

 .cart-content__item td {
     color: #000;
     padding: 20px 0px 20px 0;
     position: relative;
     vertical-align: top;
 }

 .cart-content__item .line-item__product-image {
     float: left;
     padding-right: 10px;
 }

 @media (max-width:321px) {
     .cart-content__item .line-item__product-image {
         padding-right: 5px;
     }
 }

 .cart-content__item .line-item__product-image img {
     border: 1px solid #eeeff0;
     max-height: 150px;
 }

 .product-vendor a{
     font-size: 12px;
     color: #A9365F;
     padding-top: 0;
     font-weight: bold;
 }

 .cart-content__item .line-item__info .product-title:hover {
     border-bottom: 1px solid #000;
 }

 .cart-content__item .line-item__info ul {
     margin-bottom: 10px;
     list-style: none;
 }

 .cart-content__item .line-item__info label,
   .cart-content__item .line-item__info p {
     font-size: 12px;
     margin-bottom: 0;
 }

 .cart-content__item .line-item__info textarea::placeholder {
     color: #EF9797;
     font-size: .8em;
     padding: 5px;
 }

 .gift {
     bottom: 0;
 }

 .cart-content__item .line-item__info li,
 .cart-content__item .line-item__info span {
     color: #53585f;
     font: 400 14px/20px proxima-nova, Arial, sans-serif;
 }

 .cart-content__item .line-item__price {
     font-weight: 600;
 }

 @media only screen and (max-width: 767px) {
     .cart-content__item .line-item__price {
         padding-right: 0;
         padding-top: 20px;
         text-align: right;
     }
 }

 .cart-content__item .line-item__price-list {
     margin: 0;
 }

 .cart-content__item .line-item__price-list-definition {
     margin-left: 0;
 }

 .cart-content__item .line-item__total {
     font-weight: 600;
     padding-top: 40px;
 }

 @media only screen and (max-width: 767px) {
     .cart-content__item .line-item__total {
         display: none;
     }
 }

 .cart-content__item .line-item__quantity {
     padding-right: 0;
 }

 @media only screen and (max-width: 767px) {
     .cart-content__item .line-item__quantity {
         display: none;
     }
 }

 .cart-content__item .line-item__quantity-input {
     border: 1px solid #949494;
     box-shadow: inset 0 0 0 1000px #fff;
     display: block;
     font: inherit;
     margin: 0 0 0 auto;
     max-width: 50px;
     padding: 7px 1px 7px 10px;
     text-align: center;
 }

 @media only screen and (max-width: 767px) {
     .cart-content__item .line-item__quantity-input {
         margin-right: 0;
         padding-left: 1px;
     }
 }

 .cart-content__item .line-item__quantity-label {
     clip: rect(1px, 1px, 1px, 1px);
     height: 1px;
     overflow: hidden;
     position: absolute !important;
     white-space: nowrap;
     width: 1px;
 }

 .cart-content__item .line-item__quantity-error-message {
     color: #ec130e;
     font-size: 12px;
     line-height: 14px;
 }

 .cart-content__item .line-item__quantity-error-message-wrapper {
     color: #ec130e;
 }

 .cart-content__item .line-item__quantity-error-message-wrapper--desktop {
     display: none;
 }

 @media only screen and (min-width: 768px) {
     .cart-content__item .line-item__quantity-error-message-wrapper--desktop {
         display: block;
     }
 }

 .cart-content__item .line-item__quantity-error-message-wrapper--desktop.hide {
     display: none;
 }

 .cart-content__item .line-item__quantity-error-message-wrapper--mobile {
     display: block;
 }

 @media only screen and (min-width: 768px) {
     .cart-content__item .line-item__quantity-error-message-wrapper--mobile {
         display: none;
     }
 }

 .cart-content__item .line-item__quantity-error-message-wrapper--mobile.hide {
     display: none;
 }

 .cart-content__item .line-item__removed {
     color: #53585f;
     font: 400 16px/22px proxima-nova, Arial, sans-serif;
     padding: 35px 0;
     text-align: left !important;
 }

 .cart-content__item .line-item__removed-title,
 .cart-content__item .line-item__removed-undo {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     font-weight: 600;
     margin: 0;
     padding: 0;
 }

 .cart-content__item .line-item__removed-title:before,
 .cart-content__item .line-item__removed-undo:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .cart-content__item .line-item__removed-title:hover,
 .cart-content__item .line-item__removed-undo:hover {
     color: #53585f;
 }

 .cart-content__item .line-item__removed-title {
     font-weight: 400;
 }

 .cart-content__item .line-item__removed-title:before {
     border: 0;
 }

 .cart-content__item .original-price {
     font-size: 12px;
 }

 .cart-content__item .sale-price {
     color: #c60a00;
 }

 .cart-content__item .discount__item {
     color: #53585f;
     font: 700 12px/20px proxima-nova, Arial, sans-serif;
     letter-spacing: 1px;
     line-height: 1em;
     text-transform: uppercase;
     word-break: break-all;
 }

 .cart-content__item .discount__item svg {
     vertical-align: middle;
 }

 .cart-content__item .line-item__adjustments {
     bottom: 20px;
     color: #d8d8d8;
     font: 400 14px/20px proxima-nova, Arial, sans-serif;
     position: absolute;
     right: 0;
     width: 350px;
 }

 .cart-content__item .line-item__adjustments p {
     font-size: 13px;
 }

 @media only screen and (max-width: 767px) {
     .cart-content__item .line-item__adjustments {
         display: none;
     }
 }

 .cart-content__item .line-item__remove {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     padding: 0;
     font-weight: 600;
     margin: 0 10px 0 0;
 }

 .cart-content__item .line-item__remove:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .cart-content__item .line-item__remove:hover {
     color: #53585f;
 }

 .cart-content__item .line-item__save {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     padding: 0;
     font-weight: 600;
     margin: 0 0 0 10px;
 }

 .cart-content__item .line-item__save:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .cart-content__item .line-item__save:hover {
     color: #53585f;
 }

 .cart-content__item td:last-child {
     padding-right: 0;
     text-align: right;
 }

 .cart-content__item .line-item__adjustments-mobile {
     clear: both;
     padding-top: 10px;
 }

 @media only screen and (min-width: 768px) {
     .cart-content__item .line-item__adjustments-mobile {
         display: none;
     }
 }

 .cart-content__item .line-item__adjustments-mobile a {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     font-weight: 600;
     padding: 0;
     font: 400 14px/20px proxima-nova, Arial, sans-serif;
     margin: 0 10px 0 0;
 }

 .cart-content__item .line-item__adjustments-mobile a:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .cart-content__item .line-item__adjustments-mobile a:hover {
     color: #53585f;
 }

 .cart-content__item .line-item__adjustments-mobile .line-item__save {
     margin-left: 10px;
 }

 .cart-content__item .line-item__quantity-mobile {
     bottom: 20px;
     position: absolute;
     right: 0;
 }

 @media only screen and (min-width: 768px) {
     .cart-content__item .line-item__quantity-mobile {
         display: none;
     }
 }

 .cart-content__item .line-item__quantity-mobile .line-item__quantity-label {
     color: #53585f;
     display: inline-block;
     font-size: 12px;
     height: auto;
     padding-right: 5px;
     position: relative !important;
     vertical-align: middle;
     width: auto;
 }

 .cart-content__item .line-item__quantity-mobile .line-item__quantity-input {
     display: inline-block;
     max-width: 45px;
 }

 .cart-content__share a {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     font-weight: 600;
     margin: 0;
     padding: 0;
     font: 400 14px/20px proxima-nova, Arial, sans-serif;
 }

 .cart-content__share a:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .cart-content__share a:hover {
     color: #53585f;
 }

 .cart-page-tabs {
     border-bottom: 1px solid #d8d8d8;
     display: flex;
     flex-wrap: nowrap;
 }

 @media only screen and (min-width: 768px) {
     .cart-page-tabs {
         justify-content: center;
     }
 }

 .cart-page-tabs__button {
     background-color: transparent;
     border: 0;
     border-bottom: 5px solid transparent;
     color: #767676;
     font: 600 12px/16px proxima-nova, Arial, sans-serif;
     letter-spacing: 1px;
     padding: 13px 40px;
     position: relative;
     text-transform: uppercase;
 }

 @media only screen and (max-width: 767px) {
     .cart-page-tabs__button {
         flex: 0 0 50%;
         padding-left: 25px;
         padding-right: 25px;
     }
 }

 @media only screen and (min-width: 768px) {
     .cart-page-tabs__button {
         max-width: 250px;
         min-width: 200px;
     }
 }

 .cart-page-tabs__button:before {
     bottom: -6px;
     content: "";
     display: block;
     height: 5px;
     left: 0;
     position: absolute;
     width: 100%;
 }

 .cart-page-tabs__button--active {
     border-bottom-color: #000;
     color: #000;
 }

 .cart-page-tabs__button--active:before {
     background-color: #000;
 }

 .grid-item__quantity p {
     padding: 10px;
 }

 .cart-content__share {
     margin-bottom: 35px;
     text-align: right;
 }

 .cart-content__share svg {
     stroke: #000;
 }

 .cart-content__share-button {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     margin: 0;
     padding: 0;
     font: 400 14px/20px proxima-nova, Arial, sans-serif;
     font-weight: 600;
 }

 .cart-content__share-button:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .cart-content__share-button:hover {
     color: #53585f;
 }

 .share-cart-modal[aria-hidden="true"] {
     display: none;
 }

 .share-cart-modal__overlay-fallback {
     background-color: rgba(0, 0, 0, 0.7);
     height: 100%;
     left: 0;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 11000;
 }

 .share-cart-modal__dialog {
     background-color: #fff;
     border: 0;
     height: auto;
     left: 0;
     margin: auto;
     overflow: auto;
     padding: 45px 30px;
     position: fixed;
     right: 0;
     text-align: center;
     top: 45px;
     width: 100%;
     z-index: 11000;
 }

 @media only screen and (min-width: 768px) {
     .share-cart-modal__dialog {
         max-width: 500px;
         padding: 45px;
     }
 }

 .share-cart-modal__dialog::-webkit-backdrop {
     background: rgba(0, 0, 0, 0.7);
 }

 .share-cart-modal__dialog::backdrop {
     background: rgba(0, 0, 0, 0.7);
 }

 .share-cart-modal__dialog::-webkit-scrollbar {
     display: none;
 }

 .share-cart-modal__dialog .cart-info__share-link {
     margin-right: 5px;
 }

 .share-cart-modal__dialog .share-cart__url {
     border: 1px solid #d8d8d8;
     display: block;
     height: 40px;
     margin: 20px 0 10px;
     overflow-y: hidden;
     padding: 10px;
     resize: none;
     white-space: nowrap;
     width: 100%;
 }

 .share-cart-modal__dialog .share-cart__url::-webkit-scrollbar {
     display: none;
 }

 .share-cart-modal__dialog .share-cart__button {
     align-items: center;
     border-radius: 0;
     cursor: pointer;
     display: inline-flex;
     font: 400 12px/14px proxima-nova, Arial, sans-serif;
     height: 40px;
     justify-content: center;
     letter-spacing: 1px;
     min-width: 150px;
     opacity: 1;
     padding-left: 45px;
     padding-right: 45px;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
     transition: background-color 0.3s ease, color 0.3s ease;
     background-color: #000;
     border: 1px solid #000;
     color: #fff;
 }

 @media only screen and (min-width: 768px) {
     .share-cart-modal__dialog .share-cart__button {
         font: 400 14px/14px proxima-nova, Arial, sans-serif;
         height: 45px;
     }
 }

 .share-cart-modal__dialog .share-cart__button:focus {
     outline: 2px solid #e04c39;
 }

 .share-cart-modal__dialog .share-cart__button:disabled {
     cursor: not-allowed;
 }

 .share-cart-modal__dialog .share-cart__button:hover:not(:disabled) {
     background-color: transparent;
     color: #000;
 }

 .share-cart-modal__dialog .share-cart__button:disabled {
     background: rgba(0, 0, 0, 0.05);
     border-color: transparent;
     color: #000;
 }

 .share-cart-modal__dialog .share-cart__button:active {
     background: rgba(0, 0, 0, 0.05);
     color: #000;
 }

 .share-cart-modal__close-button {
     background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg width='44' height='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12l20 20m0-20L12 32' stroke='%23000' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
     background-color: transparent;
     border: 0;
     color: #000;
     height: 44px;
     position: absolute;
     right: 0;
     top: 0;
     width: 44px;
 }

 .share-cart-modal__close-button>span {
     clip: rect(1px, 1px, 1px, 1px);
     height: 1px;
     overflow: hidden;
     position: absolute !important;
     white-space: nowrap;
     width: 1px;
 }

 .share-cart-modal .share-cart__title {
     color: #000;
     font: 600 22px/22px proxima-nova, Arial, sans-serif;
     letter-spacing: 0.3px;
     text-transform: uppercase;
     margin-bottom: 25px;
 }

 @media only screen and (min-width: 768px) {
     .share-cart-modal .share-cart__title {
         font: 600 28px/28px proxima-nova, Arial, sans-serif;
     }
 }

 .final-sale__tooltip {
     background-color: #000;
     bottom: calc(100% + 10px);
     color: #fff;
     font: 400 14px/20px proxima-nova, Arial, sans-serif;
     font-size: 0.8571428571em;
     left: 0;
     opacity: 0;
     padding: 20px;
     pointer-events: none;
     position: absolute;
     text-align: left;
     visibility: hidden;
     width: 250px;
     z-index: 200;
 }

 .final-sale__tooltip-link {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     font-weight: 600;
     margin: 0;
     padding: 0;
     color: #fff;
 }

 .final-sale__tooltip-link:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .final-sale__tooltip-link:hover {
     color: #53585f;
 }

 .final-sale__tooltip-link:after {
     border-color: #fff;
 }

 .final-sale--cart .final-sale__tooltip {
     bottom: 26px;
     left: unset;
     right: 0;
 }

 .final-sale--cart-edit .final-sale__tooltip {
     bottom: unset;
     top: calc(100% + 10px);
 }

 .final-sale__button {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     background: none;
     border: 0;
     border-radius: 0;
     color: inherit;
     cursor: pointer;
     font: inherit;
     outline: inherit;
     padding: 0;
     text-align: inherit;
     color: #c60a00;
     display: inline-block;
     font: 600 14px/14px proxima-nova, Arial, sans-serif;
     letter-spacing: 0.35px;
     position: relative;
     white-space: nowrap;
 }

 .final-sale__button--active+.final-sale__tooltip {
     opacity: 1;
     pointer-events: auto;
     visibility: visible;
 }

 .final-sale__button--active:after {
     border-bottom: 20px solid transparent;
     border-color: #000 transparent transparent;
     border-style: solid;
     border-width: 20px 20px 8px;
     bottom: 100%;
     content: "";
     position: absolute;
     right: -15.5px;
     width: 0;
 }

 .final-sale--cart .final-sale__button--active:after {
     bottom: 9px;
     right: 4.5px;
 }

 .final-sale--cart-edit .final-sale__button--active:after {
     border-top: 20px solid transparent;
     border-color: transparent transparent #000;
     border-style: solid;
     border-width: 8px 20px 20px;
     bottom: unset;
     top: 100%;
 }

 .final-sale--cart,
 .final-sale--cart-edit {
     position: relative;
 }

 .cart-page__content .line-item__edit {
     bottom: 20px;
     display: inline-block;
     font: 400 14px/20px proxima-nova, Arial, sans-serif;
     position: absolute;
 }

 @media only screen and (max-width: 767px) {
     .cart-page__content .line-item__edit {
         bottom: 0;
         margin-top: 10px;
         position: relative;
     }
 }

 .cart-page__content .line-item__edit span {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     font-weight: 600;
     margin: 0;
     padding: 0;
 }

 .cart-page__content .line-item__edit span:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .cart-page__content .line-item__edit span:hover {
     color: #53585f;
 }

 .edit-line-item[aria-hidden="true"] {
     display: none;
 }

 .edit-line-item__overlay-fallback {
     background-color: rgba(0, 0, 0, 0.7);
     height: 100%;
     left: 0;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 11000;
 }

 .edit-line-item__dialog {
     background-color: #fff;
     border: 0;
     bottom: 0;
     height: 100%;
     left: 0;
     margin: auto;
     overflow: auto;
     padding: 45px 30px;
     position: fixed;
     right: 0;
     text-align: center;
     top: 0;
     width: 90vw;
     z-index: 11000;
 }

 @media only screen and (min-width: 990px) {
     .edit-line-item__dialog {
         height: 600px;
         max-width: 1024px;
         padding: 45px;
         width: 75vw;
     }
 }

 .edit-line-item__dialog::-webkit-backdrop {
     background: rgba(0, 0, 0, 0.7);
 }

 .edit-line-item__dialog::backdrop {
     background: rgba(0, 0, 0, 0.7);
 }

 .edit-line-item__close-button {
     background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg width='44' height='44' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12l20 20m0-20L12 32' stroke='%23000' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
     background-color: transparent;
     border: 0;
     color: #000;
     height: 44px;
     position: absolute;
     right: 0;
     top: 0;
     width: 44px;
 }

 .edit-line-item__close-button>span {
     clip: rect(1px, 1px, 1px, 1px);
     height: 1px;
     overflow: hidden;
     position: absolute !important;
     white-space: nowrap;
     width: 1px;
 }

 .edit-line-item__cancel {
     position: relative;
     white-space: nowrap;
     background: transparent;
     border: 0;
     color: #000;
     cursor: pointer;
     display: inline;
     font-weight: 600;
     padding: 0;
     margin: 25px 0 0;
 }

 .edit-line-item__cancel:before {
     border-bottom: 0.0625em solid;
     content: "";
     display: block;
     height: 0;
     left: 0;
     position: absolute;
     top: calc(50% + 0.5em);
     width: 100%;
 }

 .edit-line-item__cancel:hover {
     color: #53585f;
 }

 .cart-item-edit {
     margin-left: 7px;
     margin-right: 7px;
     position: relative;
 }

 .cart-item-edit:after {
     clear: both;
     content: "";
     display: table;
 }

 @media only screen and (min-width: 768px) {
     .cart-item-edit {
         margin-left: 21px;
         margin-right: 21px;
     }
 }

 @media only screen and (min-width: 990px) {
     .cart-item-edit {
         margin-left: 25px;
         margin-right: 25px;
         margin-left: auto;
         margin-right: auto;
         max-width: 960px;
         padding-left: 11px;
         padding-right: 11px;
     }
 }

 .cart-item-edit__image-gallery,
 .cart-item-edit__product-info {
     float: left;
     padding-left: 8px;
     padding-right: 8px;
     position: relative;
     width: 100%;
 }

 @media only screen and (min-width: 768px) {

     .cart-item-edit__image-gallery,
     .cart-item-edit__product-info {
         padding-left: 9px;
         padding-right: 9px;
     }
 }

 @media only screen and (min-width: 990px) {

     .cart-item-edit__image-gallery,
     .cart-item-edit__product-info {
         padding-left: 10px;
         padding-right: 10px;
     }
 }

 @media only screen and (min-width: 990px) {
     .cart-item-edit__product-info {
         flex: 0 0 340px;
         width: 360px;
     }
 }

 @media only screen and (max-width: 767px) {
     .cart-item-edit__image-gallery {
         margin-left: -7px;
         margin-right: -7px;
         padding: 0;
         width: calc(100% - -14px);
     }
 }

 @media only screen and (min-width: 990px) {
     .cart-item-edit__image-gallery {
         width: calc(100% - 360px);
     }
 }

 
  